.task {
  display: flex;
  align-items: center;
  padding: 5px 10px;
  transition: 0.3s;
  margin-bottom: 10px;
  border: 1px solid #000000;
  border-radius: 8px;
  .form-check-input[type="checkbox"] {
    border-radius: 50%;
    margin: 0;
  }
  p {
    font-size: 20px;
    margin: 0 15px;
  }
  .completed {
    text-decoration: line-through;
  }
  span {
    cursor: pointer;
    margin-left: auto;
  }
  .form-check-input[type="checkbox"]:hover,
  span:hover {
    transition: 0.2s;
    transform: scale(1.5);
  }
}
